body {
    margin: 0;
    padding: 0;
    background: #262626;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pulse{
    width: 200px;
    height: 200px;
    background: rgb(228, 43, 157);
    border-radius: 50%;
    color: #262626;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgba(228, 43, 157, 0.7), 0 0 0 0 rgba(228, 43, 157, .7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(228, 43, 157, 0), 0 0 0 0 rgba(228, 43, 157, .7);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(228, 43, 157, 0), 0 0 0 0 rgba(228, 43, 157, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(228, 43, 157, 0), 0 0 0 0 rgba(228, 43, 157, 0);
    }
}